# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
notes.txt
.env
cucumber-report.html
tests/config/settings.json
.env
.env.*
!.env.example